@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Nova Round', cursive;
}

/* HEADER */

.header-wrapper {
  height: 100vh;
  max-width: 100vw;
  background: linear-gradient(45deg, #ff6a00, #06052d, #121212);
  background-size: 300% 300%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: backgroundTransition 8s ease-in-out infinite;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 50px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 0;
}

.social-media {
  margin-top: 2rem;
  display: flex;
}

.social-media a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  padding: 1rem 4rem;
  border: 1px solid #ffffff;
  min-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s cubic-bezier(0.55, 0.25, 0.675, 0.97);
}

a:hover {
  color: #06052d;
  background-color: #ffffff;
}

@keyframes backgroundTransition {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 80% 100%;
  }
  100% {
    background-position: 0% 90%;
  }
}

/* MENU HAMBURGUER */

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.checkbox {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
  width: 50px;
  height: 3px;
  background-color: #ff5900;
  box-shadow: 0.5px 0.5px 0.5px #06052d;
  position: absolute;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 46px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}

#toggle {
  display: none;
}

/* MENU */

.menu {
  position: absolute;
  top: 28px;
  right: 30px;
  background: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px #ffffff;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}

.menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 600ms ease-in-out 0s;
}

.menu-items ul {
  list-style-type: none;
}

.menu-items ul li a {
  margin: 10px 0;
  color: #06052d;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
}

/* ANIMAÇÃO DO MENU */

#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  background-color: #06052d;
  top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translateX(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  background-color: #06052d;
  top: 47px;
}

#toggle:checked + .checkbox {
  background-color: #ffffff;
}

#toggle:checked ~ .menu {
  box-shadow: 0px 0px 0px 100vmax #ffffff;
  z-index: 1;
}

#toggle:checked ~ .menu-items {
  visibility: visible;
  color: #06052d;
  opacity: 1;
}

/* CARDS */

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.card {
  height: 300px;
  width: 400px;
  margin: 3rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(0.5);
  color: #ffffff;
  text-shadow: 2px 2px #222227;
  cursor: pointer;
  transition: 0.3s;
}

#sobre {
  background-image: url('./images/cris-costa-irisfotografa-ensaioexterno.jpg');
}

#projetos {
  background-image: url('./images/pexels-lukas-296324.jpg');
}

#futuro {
  background-image: url('./images/pexels-skitterphoto-15812-2.jpg');
}

.card-text {
  width: 40%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  color: #222227;
  font-size: 18px;
  text-align: justify;
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  display: block;
  border: 1px solid #ffffff;
  opacity: 0;
  transition: 0.3s;
}

.card-wrapper h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.3s;
}

.card-wrapper p {
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.card:hover {
  filter: unset;
}

.card:hover > .card-wrapper::before {
  height: 250px;
  width: 350px;
  opacity: 1;
}

.card:hover > .card-wrapper p {
  font-size: 22px;
  opacity: 1;
  visibility: visible;
  margin-top: 120px;
  margin-bottom: 10px;
}

/* FOOTER */

.footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06052d;
}

/* RESPONSIVIDADE */

@media (max-width: 800px) {

  .header-wrapper {
    background-size: 300% 150%;
  }

  h1, h2 {
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: center;
  }
  
  .social-media {
    display: flex;
    flex-direction: column;
  }

  .container {
    margin-top: 0;
  }

  .card-container {
    flex-direction: column;
  }

  .container .card-container:nth-child(2) {
    flex-direction: column-reverse;
  }

  .card {
    height: 275px;
    width: 350px;
    margin-bottom: auto;
  }

  .card-text {
    width: 90%;
    margin: 2rem 2rem;
    text-align: justify;
  }

  .card:hover > .card-wrapper::before {
    height: 225px;
    width: 300px;
  }
}